<div class="row justify-content-md-center" style="margin-top: 30px">
    <div class="col-md-4">
        <form method="POST" action="/auth/register">
            <div class="form-group">
                <label for="firstNameInput">First Name</label>
                <input name="firstName" type="text" class="form-control" id="firstNameInput" {{#if old}} value="{{old.firstName}}" {{/if}}>
                {{#if errors}} <span class="text-danger">{{errors.firstName.msg}}</span> {{/if}}
            </div>

            <div class="form-group">
                <label for="lastNameInput">Last Name</label>
                <input name="lastName" type="text" class="form-control" id="lastNameInput" {{#if old}} value="{{old.lastName}}" {{/if}}>
                {{#if errors}} <span class="text-danger">{{errors.lastName.msg}}</span> {{/if}}
            </div>

            <div class="form-group">
                <label for="emailInput">Email address</label>
                <input name="email" type="email" class="form-control" id="emailInput" placeholder="Enter email" {{#if old}} value="{{old.email}}" {{/if}}>
                {{#if errors}} <span class="text-danger">{{errors.email.msg}}</span> {{/if}}
            </div>

            <div class="form-group">
                <label for="passwordInput">Password</label>
                <input name="password" type="password" class="form-control" id="passwordInput" placeholder="Password">
                {{#if errors}} <span class="text-danger">{{errors.password.msg}}</span> {{/if}}
            </div>

            <div class="form-group">
                <label for="confirmPasswordInput">Confirm Password</label>
                <input name="confirmPassword" type="password" class="form-control" id="confirmPasswordInput"
                       placeholder="Re-enter your password here">
                {{#if errors}} <span class="text-danger">{{errors.confirmPassword.msg}}</span> {{/if}}
                <span class="text-danger" id="confirmPasswordInputNotSame"></span>
            </div>

            <button type="submit" class="btn btn-primary">Register</button>
        </form>
        <div class="mt-2">Already have an account? Please <a class="no-underline fw-bolder text-secondary" href="/auth/login">Login</a> </div>
    </div>
    <script>
        document.querySelector('#confirmPasswordInput').addEventListener('input', () => {
            const password = document.querySelector('#passwordInput').value
            const confirmPassword = document.querySelector('#confirmPasswordInput').value
            if (password !== confirmPassword) document.querySelector('#confirmPasswordInputNotSame').innerHTML = `Confirm Password doesn't match with Password`
            else document.querySelector('#confirmPasswordInputNotSame').innerHTML = ``
        })
    </script>
</div>