<div class="row justify-content-md-center" style="margin-top: 100px">
    <div class="col-md-6">
        <form method="POST" action="/user/task/{{task.dataValues.id}}/update">
            <div class="form-group">
                <label for="title">Title</label>
                <input name="title" type="text" class="form-control" id="title"  {{#if old}} value="{{old.title}}" {{else if task}} value="{{task.dataValues.title}}"{{/if}} placeholder="Title">
                {{#if errors}} <span class="text-danger">{{errors.title.msg}}</span> {{/if}}
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" rows="10" class="form-control" id="description" placeholder="Description"> {{#if old}}{{old.description}}{{else if task}}{{task.dataValues.description}}{{/if}}</textarea>
                {{#if errors}} <span class="text-danger">{{errors.description.msg}}</span> {{/if}}
            </div>
            <button type="submit" class="btn btn-primary mt-2">Save</button>
        </form>
    </div>
</div>